.input_log_pas[type=text], .input_log_pas[type=password] {
    width: 90%;
    font-size: 16px; 
    padding: 15px;
    display: inline-block;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    &:focus {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.main_text {
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-width: 400px;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

.button_reg {
    font-size: 16px;
    color: #ffffff;
    background-color: #322281;
    cursor: pointer; 
    width: 200px;
    height: 40px;
}

.inactive_button {
    font-size: 16px;
    color: #ffffff;
    background-color: #5a5454;
    width: 200px;
    height: 40px;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.is_login {
    margin-bottom: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
